@import "tailwindcss";
/* *{
    background-color: gray;
} */

.dardMode{
    color: white;
    background-color: green;
    height: 100%;
    width: 100%;
    /* font-size: 4rem; */
}
.lightMode{
    color: black;
    background-color: blue;
}

